body{
   background-color:  #D4C5BE;
   font-family: 'Merriweather', serif;
}
 header{
    background-color: #A19F9F;
    font-family: 'Lobster', cursive;
}
footer{
    background-color: #A19F9F;
    font-family: 'Lobster', cursive;
}
h2{
    
}